.content {
  padding: 4rem 0;
}

@media only screen and (max-width: 1800px) {
  .content {
    padding-top: 2rem;
  }
}

.title {
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 1.3rem;
  }
}

.btn__box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-align: center;
  font-size: 2rem;
  background-color: var(--primary-500);
  padding: 1.6rem;
  color: var(--neutral-white);
  border-radius: 3rem;
}