.footer {
  border-top: 0.2rem solid var(--neutral-200);
}

.footer__top {
  padding: 4.8rem 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media only screen and (max-width: 640px) {
  .footer__top {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.footer__column>p {
  font-weight: 700;
}

.column__list {
  list-style: none;
  margin-top: 1.6rem;
}

.column__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.column__link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer__bottom {
  background-color: var(--neutral-300);
}



.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.copy p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 140%;
}